<section class="theme__holder {% if include.theme %}contour-Theme-{{ include.theme }}{% endif%}">
  <article class="theme__item color__base"><code>.color__base</code></article>
  <article class="theme__item color__base--75"><code>.color__base--75</code></article>
  <article class="theme__item color__base--62"><code>.color__base--62</code></article>
  <article class="theme__item color__base--50"><code>.color__base--50</code></article>
  <article class="theme__item color__base--38"><code>.color__base--38</code></article>
  <article class="theme__item color__base--25"><code>.color__base--25</code></article>
  <article class="theme__item color__base--12"><code>.color__base--12</code></article>
  <article class="theme__item color__base--5"><code>.color__base--5</code></article>
</section>
<section class="theme__holder {% if include.theme %}contour-Theme-{{ include.theme }}{% endif%}">
  <article class="theme__item color__highlight"><code>.color__highlight</code></article>
  <article class="theme__item color__highlight--75"><code>.color__highlight--75</code></article>
  <article class="theme__item color__highlight--62"><code>.color__highlight--62</code></article>
  <article class="theme__item color__highlight--50"><code>.color__highlight--50</code></article>
  <article class="theme__item color__highlight--38"><code>.color__highlight--38</code></article>
  <article class="theme__item color__highlight--25"><code>.color__highlight--25</code></article>
  <article class="theme__item color__highlight--12"><code>.color__highlight--12</code></article>
  <article class="theme__item color__highlight--5"><code>.color__highlight--5</code></article>
</section>